* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
nav{
    display:flex;             
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#f8f9fa;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}


body {
    background: #f4f8ff;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    min-height: 100vh;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 32px;
    color: #333;
}

.hero-content h2 {
    font-size: 36px;
    color: #007bff;
    margin: 10px 0;
}

.hero-content p {
    color: #555;
    margin: 15px 0 25px;
    line-height: 1.6;
}

/* CTA Button */
.cta-btn {
    padding: 14px 28px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover Effect (IMPORTANT PART OF TASK) */
.cta-btn:hover {
    transform: scale(1.15) rotate(-6deg);
    background: #0056b3;
}

.hero-image img {
    width: 300px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        margin-top: 40px;
    }
}