*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e9edf1;
}


.container{
    width:1000px;
    height:600px;
    display:flex;
    border-radius:10px;
    overflow:hidden;
    background:white;
}

.left{
    flex:1;
    background:linear-gradient(to bottom right,#1ea0e3,#1c8ed6);
    display:flex;
    justify-content:center;
    align-items:center;
}

.left img{
    width:350px;
}


.right{
    flex:1;
    background:#eef2f5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}

.right h1{
    font-size:40px;
    color:#2d3e50;
    margin-bottom:10px;
}

.subtitle{
    color:#7a8b9a;
    margin-bottom:40px;
}


form{
    display:flex;
    flex-direction:column;
}

form label{
    font-size:14px;
    margin-bottom:5px;
    color:#5c6c7a;
}

form input{
    padding:14px;
    border:none;
    border-radius:8px;
    margin-bottom:20px;
    background:#ffffff;
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    font-size:14px;
}

.forgot{
    text-align:right;
    margin-bottom:30px;
}

.forgot a{
    text-decoration:none;
    font-size:13px;
    color:#3b7ddd;
}

button{
    padding:16px;
    border:none;
    border-radius:12px;
    background:linear-gradient(to right,#1ea0e3,#1c8ed6);
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-bottom:25px;
    transition:0.3s;
}

button:hover{
    opacity:0.9;
}


.register{
    text-align:center;
    font-size:14px;
    color:#6c7a89;
}

.register a{
    color:#1c8ed6;
    text-decoration:none;
    font-weight:bold;
}
